/testgit
/cmake-build-debug/
/pybind11/
/cmake/
/data_raw/
/data/
/venv/
.idea/
*.cmake
*.bin
build/
testgit_track_rename
__pycache__/
third_party/cmake-3.20.2.tar.gz
third_party/c-ares/
third_party/pybind11/
